<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="center">Login</h3>
            </div>
            <div class="card-body">
                <form class="login">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="email" class="form-control user" required placeholder="e-mail">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control pass" required placeholder="senha">
                    </div>
                    <div class="form-group">
                        <img src="./assets/img/spinner.gif" class="spinner" style="max-width: 15%">
                        <input type="submit" value="Login" class="btn float-right login_btn botao-login">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <a class="esqueceu" href="#">Esqueceu a senha?</a>
                </div>
            </div>
        </div>
    </div>
</div>