<div class="container ">
    <div id="margin-bottom">
        <table id="formularios-tabela margin-bottom" class="display" style="margin-top:-4.5%;width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                    <th>E-MAIL</th>
                    <th>TELEFONE</th>
                    <th>DESCRICAO</th>
                    <th>DATA</th>
                </tr>
            </thead>
            <tbody>



            </tbody>
        </table>
    </div>
</div>